.pagr-header {
  width: 320px
}

.page-header__logo {
  display: block;
  text-align: center;
}

.page-header__background-image {
  background: url(../img/bg-back-mobile@1x.jpg) no-repeat lighten(@blue, 30%) -230px 0;
  background-size: auto 100%;
}
