.recommendation {
  text-align: center;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 73px;
  padding-top: 34px;
  border-top: 1px solid #e5e5e5;
}

.recommendation__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin: 0;
  margin-bottom: 25px;
}

.recommendation__text {
  font-size: 14px;
  line-height: 24px;
  width: 250px;
  margin: 0 auto;
}

.recommendation_video {
  width: 320px;
  height: 270px;
  background-color: #cc8675;
  margin-top: 35px;
}

@media (min-width: @tablet-width) {
  .recommendation {
    width: 648px;
    margin: 0 auto;
    margin-bottom: 76px;
    border-top: none;
    padding-top: 0;
  }

  .recommendation__title {
    font-size: 30px;
    margin-bottom: 31px;
  }

  .recommendation__text {
    width: 414px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 73px;
  }

  .recommendation_video {
    width: 648px;
    height: 500px;
  }
}

@media (min-width: @desktop-width) {
  .recommendation {
    width: 798px;
    margin-bottom: 119px;
  }

  .recommendation_video {
    width: 798px;
    height: 500px;
    margin: 0 auto;
  }
}
