.review-form__part {
  .fieldset-style;
  padding: 21px 20px 23px 20px;
  border-bottom: 1px solid #e5e5e5;
}

.review__header {
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
  border-bottom: 1px solid #e5e5e5;
}

.review-form {
  width: 320px;
  margin: 0 auto;
}

.review-form__title {
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.review-form__input {
  padding: 0;
  border: none;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: bold;
  line-height: 58px;
  padding: 0 20px;
  width: 100%;
}

.review-form__list {
  .list-style;
}

.review-form__field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.review-form__label--uppercase {
  margin-right: 13px;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.review-form__field:last-of-type {
  margin-bottom: 0;
}

.review-form__telephone {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
  .review-form__label {
    padding-left: 20px;
    padding-top:;
    padding-bottom: 11px;
  }
  .review-form__input {
    width: 240px;
  }
}

.review-form__email {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
  .review-form__label {
    padding-left: 20px;
    padding-top:;
    padding-bottom: 11px;
  }
  .review-form__input {
    width: 240px;
  }
}

.review-form__btn {
  padding: 0;
  border: none;
  .button;
  width: 100%;
  margin-bottom: 75px;
}

.review-form__comment {
  width: 100%;
}
